extends ../layout/default

block content

    h1 create new user
    p add infomation

    if errors
       each error in errors
         .alert.alert-danger= error

    form(action="/users/create" method="POST" enctype="multipart/form-data")
        .form-group
            label(for="name") Name 
            input(type="text" name="name" value=values ? values.name : '') 
        .form-group
            label(for="phone") Phone 
            input(type="text" name="phone" value=values ? values.phone : '')
        .form-group
            label(for="avatar") Avatar
            input(type="file" name="avatar" value=values ? values.phone : '')
        button.btn.btn-secondary create    