extends ../layout/default

block content

  .container
    h1 View
    a.btn-btn-primary(href="/users/create") New
    form(action="/users/search", method="GET", class="d-flex")
      input(type="text", name="q", class="form-control")
      button.btn.btn-primary.ml-2 Search

    table.table
      tr
        th Avatar
        th Name
        th Phone
        th Link
      each user in users 
        tr
          td
            img(src=user.avatar)
          td= user.name
          td= user.phone
          td
            a(href="/users/" + user.id) View