extends ../layout/default

block content
    .container
        h1 Form

        form(action='/users/navigation', method="POST")
        .form-group
            label(for='name') Name:
            input#email.form-control(type='text', name="name")
        .form-group
            label(for='phone') Phone:
            input#pwd.form-control(type='number', name="phone")
        .form-group.form-check
            label.form-check-label
            input.form-check-input(type='checkbox')
            |  Remember me
        button.btn.btn-primary(type='submit') Submit

